.department-register {
  width: 100%;
  display: flex;
  padding: 100px 0;
  padding-top: 100px;
  background: #f8f9fa;
  justify-content: center;
}

.dept-form {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-row label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
}

.form-row input,
.form-row select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
}

.create-btn {
  display: block;
  margin: 10px auto; /* centers the button */
  background-color: #4A90E2;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.create-btn:hover {
  background-color: #1F6FCC;  /* darker shade */
  transform: translateY(-3px); /* slight lift */
}