body {
    background: #f8f9fa;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    min-height: 100vh;       /* Ensures the body takes up the full viewport height */
    margin: 0;               /* Resets default body margin */
}

/* Centering Section */

/* Form Container */
.signup-form {
    background: white;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 100px;
}
/*
.identity0 {
    margin-left: 27px;
}

#identity {
    margin-left: 10px;
}*/

/* Input Row */
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

/* Labels */
.row label {
    font-size: 15px;
    font-weight: 600;
    
    padding: 5px;
    width: 100%;
    max-width: 100%;
}

/* Inputs & Selects */
.row input,
.row select {
    width: 90%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
    padding-left: 20px;
}

.row input:focus,
.row select:focus,
.row-input:hover,
.row-select:hover {
    border-color: #4A90E2;
}

/* Buttons */
.register-btn,
.submit-btn {
    display: block;
    width: 30%;
    margin: 10px auto;
    margin-top: 10px;
    background-color: #4A90E2;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    text-align: center;
}

.register-btn:hover,
.submit-btn:hover {
    background-color: #1F6FCC;
    transform: translateY(-3px);
}

/* Hide dynamic sections */
.hidden {
    display: none;
}

.fa {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}