body {
    background: #f8f9fa;
}

/* Centering Section */
.signup-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15px;
    padding-top: 170px;
}

/* Form Container */
.signup-form {
    background: white;
    width: 100%;
    max-width: 600px;
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
}

.identity0 {
    margin-left: 27px;
}

#identity {
    margin-left: 10px;
}

/* Input Row */
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

/* Labels */
.row label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 5px;
}

/* Inputs & Selects */
.row input,
.row select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.row input:focus,
.row select:focus {
    border-color: #4A90E2;
}

/* Buttons */
.register-btn,
.submit-btn {
    display: block;
    width: 25%;
    margin: 10px auto;
    margin-top: 10px;
    background-color: #4A90E2;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12);
}

.register-btn:hover,
.submit-btn:hover {
    background-color: #1F6FCC;
    transform: translateY(-3px);
}

/* Hide dynamic sections */
.hidden {
    display: none;
}